.booking {
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    position: fixed;
    z-index: 99;
    top: 0;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    img {
      width: 50px;
    }

    .booking__center {
      h3 {
        display: inline;
        margin: 0 10px;
      }
    }
    .booking__user {
      img {
        border-radius: 50%;
        width: 35px;
      }
      span {
        margin-left: 10px;
      }
    }
  }
  &__content {
    margin-top: 60px;
    .booking__right {
      height: 100%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
      position: fixed;
      right: 0;
      top: 0;
      box-shadow: 0 0 15px rgba(0, 0, 0, 100%);
      z-index: 9999999999;
      p {
        margin-top: 20px;
      }
      &--content {
        .booking__right--title {
          p {
            text-align: center;
            font-weight: 700;
            color: #44c020;
            font-size: 20px;
            text-shadow: 14px 14px 3px lightgrey;
          }
        }
        .booking__right--item {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px dashed grey;
          p:nth-child(2) {
            font-weight: 700;
          }
        }
        .booking__right--item-chair {
          display: flex;
          justify-content: space-between;
          color: red;

          .row {
            width: 50%;
            margin-top: 20px;
            height: 165px;
            overflow-y: scroll;
            p {
              text-align: right;
              margin-top: 0px;
              font-weight: 700;
            }
          }
        }
        .booking__right--item-payment {
          p {
            color: red;
          }
          label {
            color: red;
            font-weight: 700;
            margin-left: 10px;
          }
        }
      }
    }

    .booking__left {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      &--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .booking__left--title {
          display: flex;
          align-items: center;
          img {
            width: 50px;
            height: 50px;
            border-radius: 5px;
          }
          .booking__left--cinema {
            margin-left: 20px;
            p {
              color: #44c020;
              font-weight: 700;
              span {
                color: red;
              }
            }
          }
        }
      }
    }
    .chair__item {
      width: 35px;
      padding: 0;
      margin: 4px;
      height: 35px;
    }
    .booking__left--chairnumber {
      position: absolute;
      left: 21%;
      .row__chair {
        display: block;
        margin-bottom: 8px;
        background: transparent;
        &:focus {
          box-shadow: none;
        }
      }
    }

    .booking__left--listchair {
      width: 50%;
    }
    .booking__left--infochair {
      position: absolute;
      top: 22%;
      right: 5%;
      p {
        text-align: center;
        color: #44c020;
        font-weight: 700;
      }
      .info__chair--content {
        margin-bottom: 10px;
        span {
          font-weight: 500;
        }
        button {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .buy__ticket {
    .btn__buy,
    .btn-danger {
      margin: 20px 0;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999999999999999999;
  }
  .modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999999999999991;
    background-color: white;
    width: 30%;
    height: 40%;
    border-radius: 20px;
    transition: all 0.5s;
  }
  .modal__card {
    text-align: center;
    padding: 50px 0;
    height: 100%;
    &--title {
      &-info {
        color: deepskyblue;
        border: 1px solid deepskyblue;
        width: 80px;
        margin: 0 auto 20px !important;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        font-size: 20px;
      }
      p {
        font-weight: 600;
        margin: 50px;
      }
    }
    &--button {
      width: 100%;
      button {
        margin: 0 20px;
      }
      #cancelTicket {
        padding: 5px 30px;
      }
    }
  }
}
.active__modal {
  overflow: hidden;
}

@media only screen and (max-width: 1366px) {
  .booking {
    &__content {
      margin-right: 0 !important;
      margin-left: 0 !important;
      .booking__left {
        &--listchair {
          width: 70%;
        }
        &--infochair {
          top: 23%;
          right: 5px;
          font-size: 12px;
        }
      }
    }
  }
  .booking__content .booking__left--chairnumber {
    left: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .booking {
    &__header {
      .booking__center {
        h3 {
          font-size: 20px;
        }
      }
    }
    &__content {
      .booking__left {
        &--screen {
          img {
            width: 600px;
          }
        }
        &--listchair {
          button {
            width: 24px;
            padding: 0;
            margin: 4px;
            height: 24px;
            font-size: 11px;
          }
        }
        &--infochair {
          top: 105%;
          right: 13%;
          p {
            display: none;
          }
          .info__chair--item {
            display: flex;
            .info__chair--content {
              margin: 0 5px;
            }
          }
        }
      }
      .booking__right {
        &--content {
          .booking__right--item {
            font-size: 14px;
          }
        }
      }
    }
    .modal__content {
      top: 30%;
      width: 32%;
      height: 30%;
    }
  }
}

@media only screen and (max-width: 736px) {
  .booking__content .booking__left--chairnumber {
    left: 1%;
    .row__chair {
      margin-bottom: 4px;
    }
  }
  .booking {
    &__content {
      .booking__left {
        &--screen {
          img {
            width: 500px;
          }
        }
        &--listchair {
          width: 90%;
          button {
            margin: 2px;
          }
        }
        &--infochair {
          right: 6%;
          .info__chair--item {
            .info__chair--content {
              font-size: 10px;
            }
          }
        }
      }
      .booking__right {
        &--content {
          p {
            margin-top: 0;
            margin-bottom: 10px;
          }
          .booking__right {
            &--title {
              p {
                font-size: 10px;
              }
              hr {
                margin-bottom: 0;
              }
            }
            &--item {
              font-size: 10px;
            }
            &--item-chair {
              font-size: 10px;
              .row {
                margin-top: 0;
                height: 100px;
                margin-right: 0;
                margin-left: 0;
              }
            }
            &--item-payment {
              font-size: 10px;
            }
          }
          .buy__ticket {
            .btn__buy,
            .btn-danger {
              margin-top: 5px;
            }
          }
        }
      }
    }
    .overlay {
      height: 1000vh;
    }
    .modal__content {
      top: 50%;
      width: 40%;
      height: 40%;
      .modal__card {
        padding: 10px 0;
        &--title {
          margin: 20px 0;
          &-info {
            width: 40px;
            margin: 0 auto -40px !important;
            height: 40px;
            line-height: 40px;
          }
          p {
            margin: 0;
            margin-top: 50px;
            font-size: 11px;
          }
        }
        &--button {
          button {
            font-size: 10px;
          }
          #cancelTicket {
            padding: 6px 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .booking {
    &__header {
      width: 100%;
      .booking__center {
        h3 {
          font-size: 11px;
        }
      }
      .booking__user {
        img {
          width: 20px;
        }
        span {
          font-size: 10px;
        }
      }
    }
    &__content {
      margin-top: 80px;
      .booking__left {
        &--cinema {
          font-size: 10px;
        }
        &--screen {
          img {
            width: 350px;
          }
        }
        &--listchair {
          width: 85%;
          button {
            margin: 1px;
            width: 18px;
            height: 18px;
            font-size: 8px;
          }
        }
        &--infochair {
          right: 0%;
          .info__chair--item {
            .info__chair--content {
              font-size: 8px;
              margin: 0 1px;
            }
          }
        }
      }
      .booking__right {
        position: unset;
        flex: unset;
        max-width: 100%;
        margin-top: 100px;
      }
    }
    .modal__content {
      top: 70%;
      width: 60%;
      height: 30%;
      .modal__card {
        &--button {
          button {
            margin: 0 10px;
          }
        }
      }
    }
  }
  .booking__content .booking__left--chairnumber {
    left: 3%;
    .row__chair {
      margin-bottom: 7px;
    }
  }
}
