@import "../../../template/main.scss";

.admin__main {
  .home__admin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    span {
      color: $main-color;
    }
  }
}

@media only screen and (max-width: 736px) {
  .admin__main {
    .home__admin {
      top: unset;
      transform: translate(-50%);
    }
  }
}
