@import "../../../template/main.scss";

.theater__content {
  margin-top: 50px;
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  .theater__logo {
    height: 440px;
    width: 10%;
    text-align: center;
    border: 1px solid #ebebec;
    padding: 10px 0;
    .logo__item {
      position: relative;
      opacity: 0.6;
      cursor: pointer;
      transition: all 0.5s;

      img {
        width: 45px;
        /* height: 50px; */
        margin: 13px 0;
      }
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 2px;
        transform: translateX(-50%);
        background-color: #ebebec;
        height: 2px;
        width: calc(100% - 40px);
        transition: all 0.5s;
      }
    }
    .active {
      opacity: 1;
      &:after {
        background-color: $main-color;
        box-shadow: 0 -3px 10px 0 $main-color;
      }
    }
  }
  .theater__list {
    width: 40%;
    height: 440px;
    overflow-y: auto;
    border: 1px solid #ebebec;
    .list__item {
      display: flex;
      margin: 20px;
      opacity: 0.7;
      position: relative;
      transition: all 0.5s;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 2px;
        transform: translateX(-50%);
        background-color: #ebebec;
        height: 2px;
        width: 100%;
        transition: all 0.5s;
      }
      .list__detail {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 4px;
        span {
          color: #8bc541;
        }
        p {
          font-size: 12px;
        }
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
    .active {
      opacity: 1;
      &:after {
        background-color: $main-color;
        box-shadow: 0 -3px 10px 0 $main-color;
      }
    }
  }
  .theater__showtime {
    width: 50%;
    height: 440px;
    overflow-y: overlay;
    overflow-x: hidden;
    border: 1px solid #ebebec;
    .time__content {
      margin: 20px;
      margin-right: 20px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -8px;
        transform: translateX(-50%);
        background-color: #ebebec;
        height: 2px;
        width: 100%;
        transition: all 0.5s;
      }
      .time__header {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        &:after {
          content: "+";
          font-weight: 900;
          position: absolute;
          top: 35%;
          right: 0;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
        }
        &:not(.collapsed):after {
          content: "-";
          font-weight: 900;
          position: absolute;
          top: 35%;
          right: 0;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 4px;
          object-fit: cover;
        }
        .time__name {
          margin-left: 10px;
          .name__age {
            text-align: center;
            border-radius: 4px;
            background: $main-color;
            color: #fff;
            font-size: 14px;
            padding: 2px 10px;
            margin-right: 8px;
            font-weight: 600;
          }
          .name__movie {
            font-weight: 600;
          }
          .time__detail {
            color: #949494;
            font-size: 12px;
            overflow: hidden;
          }
        }
      }
      .time__item {
        margin: 0;
        .col-12 {
          font-weight: 600;
        }
        a.col-4 {
          &:hover {
            color: unset;
            text-decoration: none;
          }
        }
        .col-4 {
          text-align: left;
          height: 45px;
          .disabled {
            opacity: 0.6;
            cursor: not-allowed !important;
            &:hover {
              color: #108f3e !important;
              background-color: hsla(0, 0%, 96.5%, 0.6) !important;
            }
          }
          .time__showtime {
            text-align: center;
            border: 1px solid black;
            border-radius: 4px;
            padding: 5px 35px;
            background: hsla(0, 0%, 96.5%, 0.6);
            color: #108f3e;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            width: 80%;
            transition: all 0.5s;
            span {
              transition: none;
            }
            &:hover {
              color: $main-color;
              background-color: white;
            }
          }
        }
      }
    }
  }
}

.theater__list--mobile {
  display: none;
  .theater__showtime {
    width: 100%;
    height: unset;
    margin: 0;
  }
  .show {
    transition: all 0.5s;
  }
  .collapsing,
  .collapse,
  .show {
    width: 100%;
    transition: all 0.5s;
  }
}
.background__theaterlist {
  background-image: url("../../../../img/section.png");
  padding-top: 10%;
  background-size: cover;
  background-position: center;
}

//custom scrollbar
.theater__main {
  ::-webkit-scrollbar {
    width: 0px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsl(0deg, 0%, 53%);
    // 0, 0%, 96.5%, 0.
    border-radius: 10px;
  }
  &:hover {
    ::-webkit-scrollbar {
      width: 5px;
    }
  }
}

@media only screen and (max-width: 1025px) {
  .time__showtime {
    padding: 5px 0 !important;
  }
}

@media only screen and (max-width: 736px) {
  .theater__main {
    max-width: 735px;
  }
  .content--desktop {
    display: none;
  }
  .theater__list--mobile {
    .theater__content {
      display: flex;
      flex-direction: column;
      .theater__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        height: unset;
        .logo__item {
          margin: 0 17px;
          &:after {
            width: 100% !important;
          }
        }
      }
      .theater__list {
        width: 100% !important;
      }
    }
    display: block;
    .theater__logo {
      width: 17%;
    }
    .theater__list {
      width: 90% !important;
      .row {
        margin: 0 !important;
      }
    }
  }
}

@media only screen and (max-width: 414.22px) {
  .theater__content {
    .theater__showtime {
      .time__showtime {
        width: 100% !important;
      }
    }
  }
  .theater__list--mobile {
    .theater__content {
      .theater__logo {
        .logo__item {
          margin: 0 7px;
        }
      }
    }
  }
}
