.auth {
  height: 110vh;
  background-image: url("../../../../img/ads/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .sign__in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    padding: 0 2%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    &--top {
      margin-top: 20px;
      .logo {
        img {
          width: 50px;
        }
      }
    }
    .form {
      .form-group {
        margin: 20px 0;
        position: relative;
        label {
          position: absolute;
          top: 0;
          margin: 0.375rem 1rem;
          transition: all 0.5s;
        }
        .form-control:focus ~ .form__label {
          top: -18px;
          display: block;
          background: white;
          border-radius: 4px;
          font-size: 12px;
        }
        .form-control {
          padding: 0.375rem 1rem;
        }
        .active {
          top: -18px;
          display: block;
          background: white;
          border-radius: 4px;
          font-size: 12px;
        }
      }
      button {
        width: 100%;
        margin: 20px 0;
      }
    }
    &--bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &--footer {
      margin-top: 100px;
    }
  }
}

@media only screen and(max-width:1366.22px) {
  .auth {
    .sign__in {
      width: 45%;
    }
  }
}
@media only screen and (max-width: 736.22px) {
  .auth {
    height: 150vh;
    .sign__in {
      top: 90%;
      width: 65%;
      .form {
        margin: 5px 0;
        .form-group {
          margin: 0;
        }
        button {
          margin: 0;
        }
      }
      &--top {
        margin: 0;
      }
      &--footer {
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 414.22px) {
  .auth {
    height: 110vh;
    .sign__in {
      top: 60%;
      width: 65%;
      width: 85%;
      &--bottom {
        margin-top: 20px;
      }
      &--footer {
        margin-top: 60px;
      }
    }
  }
}
