@import "../../../template/main.scss";

.admin__ {
  padding-right: 0 !important;
  height: 100vh;
  text-align: center;
  .button__showdashboard {
    display: none;
  }
}
.dashboard__content {
  height: 100vh;
  width: 145px;
  background-color: white;
  position: fixed;
  border-right: 1px solid black;
  padding-right: 0 !important;
  box-shadow: 0 0 10px black;
  top: unset;
  text-align: center;
  .dashboard__top {
    border-bottom: 2px solid black;
    height: 80px;
    img {
      width: 50px;
    }
    span {
      color: $main-color;
      font-weight: 700;
    }
  }
  .dashboard__list {
    ul {
      margin-top: 20px;
      list-style: none;
      padding-inline-start: 0;
      li {
        margin-bottom: 20px;
        .dashboard__active {
          color: $main-color;
          font-size: 13px;
        }
        p {
          margin: 0;
          cursor: pointer;
          position: relative;
          &:after {
            content: "+";
            font-weight: 800;
            font-size: 14px;
            right: 2px;
            top: -3px;
            position: absolute;
          }
        }
        p {
          font-weight: 700;
          color: black;
          font-size: 13px;
          &:hover {
            color: $main-color;
          }
        }
        a {
          font-weight: 700;
          color: black;
          font-size: 13px;

          &:hover {
            text-decoration: none;
            font-size: 15px;
            color: $main-color;
          }
        }
      }
    }
    .movie__manage,
    .user__manage {
      &--menu {
        display: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        opacity: 0;
        height: 0px;
        margin: 0;
        margin-top: 5px;
        transition: all 0.5s;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .dashboard__content {
    height: 102vh;
    width: 100px;
    .dashboard__top {
      img {
        width: 30px;
      }
      span {
        font-size: 13px;
      }
    }
    .dashboard__list {
      ul {
        li {
          p {
            font-size: 10px;
          }
          a {
            font-size: 10px;
          }
          ul {
            li {
              a {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 736px) {
  .admin__template {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .admin__ {
    height: unset;
    .button__showdashboard {
      display: block;
      position: absolute;
      top: 20px;
      height: 100vh;
      z-index: 999999;
    }
    .dashboard__content {
      z-index: 99999;
      width: 0;
      height: 100vh;
      left: -20%;
      .dashboard__top {
        padding-top: 20px;
      }
    }
  }
  .overlay__dashboard {
    height: 100vh;
    width: 0;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
}
