.admin__ {
  padding-right: 0 !important;
  height: 100vh;
  text-align: center;
}
.dashboard__content {
  height: 100vh;
  width: 145px;
  background-color: white;
  position: fixed;
  border-right: 1px solid black;
  padding-right: 0 !important;
  box-shadow: 0 0 10px black;
  top: unset;
  text-align: center;
  .dashboard__top {
    border-bottom: 2px solid black;
    height: 80px;
    img {
      width: 50px;
    }
    span {
      color: #fb4226;
      font-weight: 700;
    }
  }
  .dashboard__list {
    ul {
      margin-top: 20px;
      list-style: none;
      padding-inline-start: 0;
      li {
        margin-bottom: 20px;
        .dashboard__active {
          color: #fb4226;
          font-size: 13px;
        }
        p {
          margin: 0;
          cursor: pointer;
          position: relative;
          &:after {
            content: "+";
            font-weight: 800;
            font-size: 14px;
            right: 2px;
            top: -3px;
            position: absolute;
          }
        }
        p {
          font-weight: 700;
          color: black;
          font-size: 13px;
          &:hover {
            color: #fb4226;
          }
        }
        a {
          font-weight: 700;
          color: black;
          font-size: 13px;

          &:hover {
            text-decoration: none;
            font-size: 15px;
            color: #fb4226;
          }
        }
      }
    }
    .movie__manage,
    .user__manage {
      &--menu {
        display: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        opacity: 0;
        height: 0px;
        margin: 0;
        margin-top: 5px;
        transition: all 0.5s;
      }
    }
  }
}
